.button1 {
    box-sizing: border-box;

    text-align: center;
    margin: 10px;
    margin-top: 10px;
    width: 300px;
    height: 60px;

    background: #ffffff;
    border: 2px solid #ff65ed;
    border-radius: 20px;

    font-size: 20px;
    font-style: italic;

}

.button2 {
    box-sizing: border-box;

    text-align: center;
    margin: 10px;
    margin-top: 10px;
    width: 140px;
    height: 60px;

    background: #ffffff;
    border: 2px solid #ff65ed;
    border-radius: 20px;

    font-size: 20px;
    font-style: italic;

}

.input {
    box-sizing: border-box;
    margin: 10px;
    width: 300px;
    height: 50px;

    background: #ffffff;
    border: 2px solid #7a2c2c;
    border-radius: 5px;

    font-size: 15px;
    text-align: center;
}

.input2 {
    box-sizing: border-box;
    margin: 10px;
    width: 300px;
    height: 80px;

    background: #ffffff;
    border: 2px solid #7a2c2c;
    border-radius: 5px;

    font-size: 15px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;


    height: 500px;
    overflow-y: scroll;

}

.div1,
.div3 {
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    width: 30%;

}

.div2 {
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 150px;
    width: 30%;
}

.bbb {
    position: fixed;
    bottom: 60px;
    transform: translateX(-50%);
}