@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'KyoboHand';
}
.roomName {
    font-size: 40px;
}

.progressBar {
    border-radius: 50px;
    width: 60%;
    margin-left: 50px;
    padding-top: 4px;
    padding-left: 4px;
    height: 30px;
    background-color: #EAD0D3;
    border: 2px solid #422629;
}

.progressBarInner {
    border-radius: 50px;
    height: 26px;
    background-color: #C2727A;
}

.button1 {
    box-sizing: border-box;

    text-align: center;
    margin: 10px;
    margin-top: 10px;
    width: 300px;
    height: 60px;

    background: #EAD0D3;
    border: 2px solid #422629;
    border-radius: 20px;

    font-size: 20px;
    transition: all 0.2s ease-in-out;
}
.button1:hover {
    background: #422629;
    color: #EAD0D3;
    box-shadow: 0px 0px 5px #422629 inset;
    border: 2px solid #EAD0D3;
}

.giftbutton {
    box-sizing: border-box;

    text-align: center;
    margin: 10px;
    margin-top: 50px;
    width: 300px;
    height: 60px;

    background: #EAD0D3;
    border: 2px solid #422629;
    border-radius: 20px;

    font-size: 20px;
    transition: all 0.2s ease-in-out;
}
.giftbutton:hover {
    background: #422629;
    color: #EAD0D3;
    box-shadow: 0px 0px 5px #422629 inset;
    border: 2px solid #EAD0D3;
}

.button2 {
    box-sizing: border-box;

    text-align: center;
    margin: 10px;
    margin-top: 10px;
    width: 140px;
    height: 60px;

    background: #EAD0D3;
    border: 2px solid #422629;
    border-radius: 20px;
    
    font-size: 20px;
    transition: all 0.2s ease-in-out;
}
.button2:hover {
    background: #422629;
    color: #EAD0D3;
    box-shadow: 0px 0px 5px #422629 inset;
    border: 2px solid #EAD0D3;
}
.titleInput {
    box-sizing: border-box;
    margin: 10px;
    width: 300px;
    height: 50px;

    background: #ffffff;
    border: 2px solid #422629;
    border-radius: 10px;

    font-size: 15px;
    text-align: center;
}
.dDayInput {
    box-sizing: border-box;
    margin: 10px;
    margin-bottom: 161px;
    width: 300px;
    height: 50px;

    background: #ffffff;
    border: 2px solid #422629;
    border-radius: 10px;

    font-size: 15px;
    text-align: center;
}

.toInput {
    box-sizing: border-box;
    margin: 10px;
    margin-bottom: 20px;
    width: 300px;
    height: 50px;

    background: #ffffff;
    border: 2px solid #422629;
    border-radius: 10px;

    font-size: 15px;
    text-align: center;
}
.messageInput {
    box-sizing: border-box;
    margin: 10px;
    margin-bottom: 20px;
    padding: 10px;
    width: 300px;
    height: 220px;

    background: #ffffff;
    border: 2px solid #422629;
    border-radius: 10px;

    font-size: 15px;
    text-align: center;
}
.fromInput {
    box-sizing: border-box;
    margin: 10px;
    margin-bottom: 20px;
    width: 300px;
    height: 50px;

    background: #ffffff;
    border: 2px solid #422629;
    border-radius: 10px;

    font-size: 15px;
    text-align: center;
}


.container {
    margin: 35px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #f0cfd2;
    border: 2px solid #422629;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    height: 400px;
    overflow-y: scroll;

    box-shadow: inset 0px 0px 10px 4px rgb(117, 81, 81);
}
.container1 {
    margin: 35px;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: #f0cfd2;
    border: 2px solid #422629;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    height: 400px;
    overflow-y: scroll;

    box-shadow: inset 0px 0px 10px 4px rgb(117, 81, 81);
}

.container::-webkit-scrollbar {
    display: none;
}
.div1,
.div3 {
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    width: 30%;

}

.div2 {
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 150px;
    width: 30%;
}
